{% extends "base.html" %}


{% block conteudo %}

<div class="titulo-linha">

    <h2>
        Compras
    </h2>

    <a
        class="botao verde"
        href="{{ url_for('nova_compra') }}"
    >
        Nova Compra
    </a>

</div>


<form
    method="GET"
    class="pesquisa"
>

    <div>

        <label>
            Cliente ou data
        </label>

        <input
            type="text"
            name="q"
            value="{{ pesquisa }}"
            placeholder="Cliente ou 2026-08-24"
        >

    </div>


    <div class="campo-botao">

        <button
            class="botao"
            type="submit"
        >
            Consultar
        </button>

    </div>

</form>


<div class="acoes">

    <a
        class="botao excel"
        href="{{ url_for('exportar_compras') }}"
    >
        Exportar Compras XLSX
    </a>

</div>


<div class="tabela-responsiva">

<table>

    <thead>

        <tr>

            <th>No</th>

            <th>Cliente</th>

            <th>Data/Hora</th>

            <th>Total</th>

            <th>Acoes</th>

        </tr>

    </thead>


    <tbody>

        {% for compra in compras %}

        <tr>

            <td>
                {{ compra["id"] }}
            </td>

            <td>
                {{ compra["cliente"] }}
            </td>

            <td>
                {{ compra["data_hora"] }}
            </td>

            <td>

                R$
                {{ "%.2f"|format(compra["total"]) }}

            </td>

            <td class="acoes-tabela">

                <a
                    class="botao pequeno"
                    href="{{ url_for(
                        'detalhe_compra',
                        id=compra['id']
                    ) }}"
                >
                    Consultar
                </a>


                <a
                    class="botao pequeno editar"
                    href="{{ url_for(
                        'editar_compra',
                        id=compra['id']
                    ) }}"
                >
                    Alterar
                </a>


                <form
                    method="POST"
                    action="{{ url_for(
                        'excluir_compra',
                        id=compra['id']
                    ) }}"
                    onsubmit="return confirm(
                        'Excluir esta compra?'
                    );"
                >

                    <button
                        type="submit"
                        class="botao excluir pequeno"
                    >
                        Excluir
                    </button>

                </form>

            </td>

        </tr>

        {% else %}

        <tr>

            <td
                colspan="5"
                class="centralizado"
            >
                Nenhuma compra encontrada.
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}

